*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:linear-gradient(135deg,#050816,#0B1026,#1a1f4d);
color:white;
overflow-x:hidden;
}

#stars{
position:fixed;
width:100%;
height:100%;
background-image:radial-gradient(white 1px, transparent 1px);
background-size:40px 40px;
opacity:.35;
z-index:-1;
animation:move 20s linear infinite;
}

@keyframes move{
from{transform:translateY(0);}
to{transform:translateY(-200px);}
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:4rem;
color:#8B5CF6;
}

.hero h2{
font-size:2rem;
margin:10px 0;
}

.btn{
margin-top:20px;
padding:12px 24px;
background:#8B5CF6;
color:white;
text-decoration:none;
border-radius:30px;
}

section{
padding:60px 10%;
}

section h2{
margin-bottom:20px;
color:#06B6D4;
}

.card{
background:rgba(255,255,255,.08);
backdrop-filter:blur(10px);
padding:20px;
border-radius:20px;
margin-bottom:20px;
box-shadow:0 0 15px rgba(139,92,246,.5);
}

.skills{
display:flex;
flex-wrap:wrap;
gap:10px;
}

.skills span{
padding:10px 15px;
background:#8B5CF6;
border-radius:20px;
}

.reveal{
opacity:0;
transform:translateY(40px);
transition:all .8s ease;
}

.reveal.active{
opacity:1;
transform:translateY(0);
}
@media(max-width:600px){
    .hero h1{
        font-size: 50px;
    }
}